@import url(./header.css);
@import url(./top/about.css);
@import url(./top/store.css);
@import url(./top/works.css);
@import url(./top/support.css);
@import url(./top/pickup.css);
@import url(./top/news.css);
@import url(./top/contact.css);
@import url(./footer.css);

/* 固有色の設定 */
:root {
  --c-primal: #a8dc00;
}

/* 共通設定 */
* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.content_main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 36px 0;
  gap: 36px;
}

.horizontal_content_wrapper {
  width: 100%;
  background: var(--c-primal);
}

.horizontal_content_inner {
  display: grid;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 42px 24px;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.content {
  width: 100%;
}

.content.left {
  display: flex;
  justify-content: flex-end;
}

.content.right {
  display: flex;
  justify-content: flex-start;
}

.content_inner {
  width: 75%;
  margin: 0 auto;
  padding: 12px 24px;
  border: solid 2px gray;
  border-radius: 12px;
  background: white;
}

/* 横並びの時はマージンを除去 */
.horizontal_content_wrapper .content_inner {
  width: 90%;
  margin: 0;
  padding: 12px 22px;
}

.content_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 12px;
}

.content_title h2 {
  color: black;
  font-weight: 900;
  font-size: 2.5em;
}

.content_title .h2_sub {
  padding-bottom: 6px;
  color: #6ec300;
  font-size: 1.2em;
}
