@import url(./header.css);
@import url(./footer.css);

/* 固有色の設定 */
:root {
  --c-primal: #a8dc00;
}

/* 共通設定 */
* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.content_main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 36px 0;
  gap: 36px;
}

.content_main.details{
  margin-top: 76px;
}

.horizontal_content_wrapper {
  width: 100%;
  background: var(--c-primal);
}

.horizontal_content_inner {
  display: grid;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 42px 24px;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.content {
  width: 100%;
}

.content.left {
  display: flex;
  justify-content: flex-end;
}

.content.right {
  display: flex;
  justify-content: flex-start;
}

.content_inner {
  width: 75%;
  margin: 0 auto;
  padding: 12px 24px;
  border: solid 2px gray;
  border-radius: 12px;
  background: white;
}

/* 横並びの時はマージンを除去 */
.horizontal_content_wrapper .content_inner {
  width: 90%;
  margin: 0;
  padding: 12px 22px;
}

.content_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 12px;
}

.content_title h2 {
  color: black;
  font-weight: 900;
  font-size: 2.5em;
}

.content_title .h2_sub {
  padding-bottom: 6px;
  color: #6ec300;
  font-size: 1.2em;
}

/* タブレットの場合 */
@media (max-width: 1220px) {

  /* 要素の基本的な幅を拡張 */
  .content_inner {
    width: 80%;
  }

  /* コンテンツ名を縦並びに変更 */
  .content_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  /* 実績関連を縦並びに変更 */
  .horizontal_content_inner {
    width: 85%;
    grid-template-columns: 1fr;
  }
  .content.left,
  .content.right {
    display: flex;
    justify-content: center;
  }

  /* サポートVTuberの配列を3x3に変更 */
  .support_image {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .s_i_1-4,
  .s_i_2-4,
  .s_i_3-4 {
    display: none;
  }
}

/* スマホの場合 */
@media (max-width: 720px) {
  /* サポートVTuberの配列を3x2に変更 */
  .support_image {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .s_i_1-4,
  .s_i_2-4,
  .s_i_3-1,
  .s_i_3-2,
  .s_i_3-3,
  .s_i_3-4 {
    display: none;
  }
}
